@import url('https://fonts.googleapis.com/');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* *{
  font-family: Poppins;
} */

ion-icon {
  color: inherit;
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.grad {
  background: rgb(246,59,35);
  background: linear-gradient(90deg, rgba(246,59,35,1) 35%, rgba(243,62,52,1) 100%); 
  color: white;
}

.txt li a {
  text-decoration: none;
  color: grey;
 
}
.txt li{
  color: white;
  background-color: white;
  border-radius: 25px;
  text-decoration: none;
  align-items: center;
}
.tab {
  background: rgb(246,59,35);
  background: linear-gradient(90deg, rgba(246,59,35,1) 35%, rgba(243,62,52,1) 100%); 
  text-decoration-line: none;
  border-radius: 5px;
  /* text-decoration: none; */
  align-items: center;
  color: white !important;
  padding-left: 13px;
  
}

.t::before {
	content: "";
	width: 0px;
	height: 0px;
	border: 0.8em solid transparent;
	position: absolute;
  
}
.top-left::before {
  position: relative;
	left: -38px;
	bottom: -38px;
	border-top: 10px solid #f63b23;
  
}

.tax li a {
  color: white;
  border-radius: 25px;
}
.tax li {
  border-radius: 25px;
}

.tab:focus-visible {
  color: white !important;
}


.input_form:focus {
  box-shadow: none;
}

.sub-head{
  color: darkgrey;
}

.footer-bg{
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 12%, rgba(241,241,241,1) 88%);
}
.sm-font{
  font-size: 13px;
}
.border-right{
  border: solid grey 0 4px 0 0;
}

.pulse {
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
  position: relative;
  left: 15px;
  z-index: 20px;
  animation: animate 3s linear infinite;
}

.pulse i {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #fff;
  height: 100%;
  cursor: pointer
}

@keyframes animate {
  0% {
      box-shadow: 0 0 0 0 rgb(255, 109, 74, 0.7), 0 0 0 0 rgb(255, 109, 74, 0.7)
  }

  40% {
      box-shadow: 0 0 0 50px rgb(255, 109, 74, 0), 0 0 0 0 rgb(255, 109, 74, 0.7)
  }

  80% {
      box-shadow: 0 0 0 50px rgb(255, 109, 74, 0), 0 0 0 30px rgb(255, 109, 74, 0)
  }

  100% {
      box-shadow: 0 0 0 0 rgb(255, 109, 74, 0), 0 0 0 30px rgb(255, 109, 74, 0)
  }
}

/* close pulse */
.tp{
  margin-top: -5px;
}
.tp1{
  margin-top: -3px;
}

.tp2{
  margin-top: 2px;
  margin-left: 5px;
}

.tp3{
  margin-top: -5px;
  margin-left: 5px;
}

.remove-border{
  border: none;
  margin-left: -5px;
}

.tp4{
  margin-top: -3px;
  margin-left: 2px;
}

.hr{
  margin-bottom: -20px;
  margin-top: -15px;
}

.border-radius{
  /* border: 2px solid red; */
  padding: 6px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  background: rgb(252,87,50);
  background: linear-gradient(100deg, rgba(252,87,50,1) 12%, rgba(235,57,55,1) 88%);
  color: white;
  padding-left: 5px;
  /* height: 30px; */
}

.right-arrow{
  /* width: 400px;
  height: 40px; */
  background-color: #e3332f;
  border-radius:50%;
  padding: 7px;
  position: relative;
  left: 20px;
}

.arrow{
  padding: 7px;
  position: relative;
  left: 20px;
}

.arrow2{
  padding: 7px;
  position: relative;
  left: 72px;
}

.arrow-h{
  padding: 7px;
  position: relative;
  left: 79px;
}

.arrow-i{
  padding: 7px;
  position: relative;
  left: 40px;
}

.arrow-r{
  padding: 7px;
  position: relative;
  left: 80px;
}

.arrow-l{
  padding: 7px;
  position: relative;
  left: 82px;
}

.arrow-b{
  padding: 7px;
  position: relative;
  left: 24px;
}
.dropdown-font a {
  color: grey;
}
.dropdown-font{
  color: grey;
  /* display: none; */
}
.user-name{
  color: #f63b23;
  margin-top: -7px;
  font-size: 20px;
}
.logout{
  background: rgb(252,87,50);
  background: linear-gradient(100deg, rgba(252,87,50,1) 12%, rgba(235,57,55,1) 88%);
  color: white;
}

.grey{
  color: grey;
}
.white{
  color: white;
}
.dark{
  color: rgb(83, 83, 83);
}

.drpdwn-align{
  margin-top: 11px;
  margin-left: -20px;
  color: rgb(252,87,50);
  border-radius: 90%;
  /* padding-right: 10px; */
  width: 50px;
}
.drpdwn-align i {
  position: relative;
  right: 7px;
  top: 5px;
  width: 50px;
}
.drpdwn-align ion-icon {
  position: relative;
  right: 7px;
  top: 5px;
}
.user-dropdown{
  margin-left: 5px;
  font-family: poppins;
}